<style>

  #edit-cluster-header-2{
      width: 100%;
      display: flex;
      height: 25px;
      justify-content: space-between;
      margin-top: 2%;
  }
  
  
  .edit-cluster-img{
      max-width:100%;
      max-height:100%;
  }
  
  
  .edit-cluster-parent-2{
      display: none;
  }
  
  .edit-cluster-child-2{
      display: none;
  }
  
  .edit-cluster-parent-2.edit-cluster-open-2{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
      display: block;
      overflow-y:scroll;
      z-index: 1000;
  }   
  
  .edit-cluster-child-2.edit-cluster-open-child-2{
      display: block;
      border: none;
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      position: fixed;
      top: 25%;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: white;
      overflow-y:scroll;
      z-index: 1000;
  }
  
    </style>

<style>
  #delete-list-css{
    background-color: aqua;
    padding: 5vh;
  }
</style>    
<div class="edit-cluster-parent-2">
<div class="edit-cluster-child-2">

     <div id="edit-cluster-header-2" style="position: sticky; top:2%;">
       <div class="my">
 <input type="image" form="delete-vid" class="edit-cluster-img" src="../static/anne/deleteIcon.png">
           
       </div>
       <div class="my">
           
       </div>
       <div class="my">
         <img id="hide-editcluster-popup-2" class="edit-cluster-img" src="../static/anne/cancelpopup.png" alt="">
           <!-- <img type="submit" form="addClusterForm" class="add-cluster-img" id="submit-btn-addcluster" src="../static/anne/Pluudo_Hide_Text.png" alt=""> -->
       </div>
   </div>
   
   <div style="text-align: left; background: rgba(0,0,0,.5); margin: 4% 2%;">

     <input style="width: 4%" id="select-all" type="checkbox">  <label for="select-all">select all</label>
   </div>
   
   <div id="delete-list-css">
     
     
     <form id="delete-vid" action="http://kudos02.pythonanywhere.com/delete_videos/" method="POST">
       {% csrf_token %}
     {% for i in obj %}
       <div class="videos_list">
   
         <input type="checkbox" name="vid" value="{{i.id}}">
         <a href="http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}">
           <img style="border-radius: 5%; width: 100%; height: auto"  src="{{i.video_thumbnail}}" alt="">
         </a>
         
       </div>
   
       <br> <br>
     {% endfor %}
   </form>
   </div>

</div>
</div>


<script>
  //https://www.techiedelight.com/implement-select-all-check-box-html-javascript/
  document.getElementById('select-all').onclick = function() {
    let select_all_btn = document.getElementById('select-all');
    var checkboxes = document.getElementsByName('vid');
    if(select_all_btn.hasAttribute("checked")){
      
      select_all_btn.removeAttribute("checked");
      for (var checkbox of checkboxes) {
      //https://www.w3schools.com/jsref/met_document_createattribute.asp
      checkbox.removeAttribute("checked")
    }
    return;

  }
  else{

    for (var checkbox of checkboxes) {
      //https://www.w3schools.com/jsref/met_document_createattribute.asp
      let at1 = document.createAttribute("checked");
      let at = document.createAttribute("checked");
      select_all_btn.setAttributeNode(at1);
      checkbox.setAttributeNode(at);
    }
    return;

  }
}
    
</script>