<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    
    <div class="footer">
      <div class="footer_dimensions">

        <a onclick="mySearch()" class="pluudo_mid_icons" id="search_icon">
          <img src="../static/anne/Pluudo_Search.png" alt="Pluudo_Search_icon">
        </a>
          <a onclick="showPopup2()" class="pluudo_mid_icons">
            <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
          </a>
          <a class="pluudo_mid_icons" href="http://kudos02.pythonanywhere.com/view-profile">
            <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
          </a>

      </div>
      <div>
        <a onclick="history.back()" class="back_icon" href="#">
          <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
        </a>
        <a class="pluudo_icon" href="http://kudos02.pythonanywhere.com/">
          <img src="../static/anne/Pluudo_Home.png" alt="Pluudo_Home">
        </a>
      </div>
    </div>

</body>
</html>

