{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluudo.com</title>
  <script src="../../static/style.js"></script>
  <link rel="stylesheet" href="../../static/styles.css">
</head>
<body onload="myFunction()">
  <style>
    body {
    text-align: center;
  }
  .popup { display: none; }
  .popup.open { display: block; }

  .popup2 { display: none; }
  .popup2.open { display: block; }

  .blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
  }

  .blocker2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
  }

  .popup .contents {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 50%;
    background: #FFF;

    position: fixed;
    bottom: 0px;
  }

  .popup2 .contents2 {
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 65%;
    width: 70%;
    background: #FFF;

    position: fixed;
  }
  </style>







     <div class="popup">
        <div class="blocker" onclick="hidePopup()"></div>
        <div class="contents" style="overflow: scroll;">

          <form id="checkEmailForm" method="post">
            {% csrf_token %}
            <label for="email">Email</label> <br>
            <input id="email_entered" type="email" required> <br> <br>
            <input type="submit" value="Continue">
          </form>
          <p id="email_message"></p>
          <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
          
          </script>

          <script>
            // to check whether email registered or not
            $(document).on('submit', '#checkEmailForm', function(e) {

              e.preventDefault();
              var email_entered = $('#email_entered').val();

              $.ajax({
                type: 'POST',
                url: 'http://kudos02.pythonanywhere.com/check-email/',
                data: {
                  'email_entered': email_entered,
                  csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken]').val(),
                },
                success:function(response) {
                  console.log(response.status);
                  $('#email_message').text(response.status)
                  if(response.status == "email not registered"){
                    document.getElementById("email").value = email_entered;
                    document.getElementById("checkEmailForm").style.display = "none";
                    document.getElementById("registerForm").style.display = "block";
                    document.getElementById("askPasswordForm").style.display = "block";
                    document.getElementById("askNameForm").style.display = "none";
                  }
                  else{
                    document.getElementById("login_email").value = email_entered;
                    document.getElementById("checkEmailForm").style.display = "none";  
                    document.getElementById("loginForm").style.display = "block";
                }
                }
              })
            })

            // to check whether username available or not
            $(document).on('submit', '#registerForm', function(e) {
              console.log("inside username verification function");
              e.preventDefault();
              var username_entered = $('#username_entered').val();
              var password_1 = $('#password_1').val();
              var password_2 = $('#password_2').val();
              var first_name = $('#first_name').val();
              var last_name = $('#last_name').val();
              var email = $('#email').val();

              $.ajax({
                type: 'POST',
                url: 'http://kudos02.pythonanywhere.com/check-username/',
                data: {
                  'username': username_entered,
                  'password1': password_1,
                  'password2': password_2,
                  'first_name': first_name, 
                  'last_name': last_name,
                  'email': email,
                  csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken]').val(),
                },
                success:function(response) {
                  console.log(response.status);
                  $('#username_message').text(response.status)
                  if(response.status == "username registered"){
                    document.getElementById("username_message").innerHTML = "username already taken";
                    document.getElementById("entered_username").value = "";
                  }
                  else{
                    window.location = "http://kudos02.pythonanywhere.com/view-profile/"
                  }
                }
              })
            })

            // to check whether password and confirm password matches or not
            function verifyPassword(){
              let pswd_1 = document.getElementById("password_1").value ;
              let pswd_2 = document.getElementById("password_2").value ;
              if(pswd_1 === pswd_2 && pswd_1.length >=8 ){
            
                document.getElementById("askPasswordForm").style.display = "none";
                document.getElementById("askNameForm").style.display = "block";
              }
              else{
                document.getElementById("password_matching_validation").innerHTML = "password not matched or length should of atleast 8 characters";
              }
            }

            // login with authentication
            $(document).on('submit', '#loginForm', function(e) {
            console.log("inside login function")
            e.preventDefault();
            var login_email = $('#login_email').val();
            var login_password = $('#password').val();
            console.log(login_email)
            console.log(login_password)

            $.ajax({
                type: 'POST',
                url: 'http://kudos02.pythonanywhere.com/login/',
                data: {
                  'login_email': login_email,
                  'login_password': login_password,
                  csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken]').val(),
                },
                success:function(response) {
                  console.log(response.status);
                  $('#login_validation').text(response.status)
                  if(response.status == 'User Login Success'){
                      document.getElementById("checkEmailForm").style.display = "none";
                      $('#login_validation').text(response.status)
                      window.location = 'http://kudos02.pythonanywhere.com/view-profile/'
                  } 
                  else{
                      $('#login_validation').text(response.status)
                  }
                }
              })
            })
            

          </script>

          <div>

            <form id="loginForm" style="display: none;">
              <input type="email" id="login_email" style="display: none;">
              <label for="password">Password</label>
              <input type="password" id="password" required>

              <input type="submit" value="Continue">
              <p id="login_validation"></p>
            </form>
          </div>


          <div>
            <form id="registerForm" style="display: none;">
              {% csrf_token %}
              <div id="askPasswordForm">
                <input type="email" id="email" style="display: none;">
                <label for="password_1">Password</label> <br>
                <input id="password_1" type="password" > <br>

                <label for="password_2">Confirm Password</label> <br>
                <input id="password_2" type="text" > <br>

                <button id="askPasswordForm_Button" onclick="verifyPassword()">
                  Next
                </button>
                <p id="password_matching_validation"></p>
              </div>

              <div id="askNameForm">

                <label for="first_name">First Name</label> <br>
                <input id="first_name" type="text" required> <br>

                <label for="last_name">Last Name</label> <br>
                <input id="last_name" type="text" required> <br>

                <label for="username_entered">Username</label> <br>
                <input id="username_entered" type="text" required> <br>
                <p id="username_message"></p> <br>

                <input type="submit" id="register_user">

              </div>

              
            </form>
          </div>
          


          <iframe name="frame_a" width="100%" title="Iframe Example" target="frame_a" frameborder="0">
         
          </iframe>

        </div>
      </div>

      <div class="popup2">

        <div class="blocker2" onclick="hidePopup2()"></div>
        
        <div class="contents2" style="overflow: scroll;">
          <h2>Add a Video</h2>
          <input id="fetch-video-url" type="text" placeholder="please enter url"> <br> <br>
          <input type="button" onclick="fetchVideo()" name="" id="fetch-video" value="Search">
          <div>
            <!-- <iframe width="420" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe> -->
            
            <div id="video-details" style="opacity: 0;">
            <img src="" class="thumbs" alt="fetch-video-thumbnail">
            
           
              <h4>Title</h4>
              <p id="video-title"></p><br><br>
              <form action="http://kudos02.pythonanywhere.com/add-item/" method="get">
                {% csrf_token %}
                <input name="item_url" id="item_url" style="display: none;" type="text">
          
                <label for="sel1">Select cluster:</label>
                  <select name="cluster_id" class="form-control">
                    {% for cluster in clusters %}

                    <option value="{{cluster.id}}">{{cluster.cluster_name}}</option>

                    {% endfor %}
                    
                  </select>
                <p id="clusterid">{{clusters.id}}</p>
               
                <input type="submit" onclick="addItem()" value="save">

                 

                </form>

          </div> 
          <script>
            $(document).on('submit', '#addClusterForm', function(e) {
            console.log("inside username verification function");
            e.preventDefault();
            var cluster_name = $('#clustername').val();
            $.ajax({
              type: 'POST',
              url: 'http://kudos02.pythonanywhere.com/add-cluster/',
              data: {
                'cluster_name': cluster_name,
                csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken]').val(),
              },
              success:function(response) {
                  console.log(response.status);
                }
            })
          })
          </script>
  

            <script>
              function addItem(){

                document.getElementById("item_url").value = document.getElementById("fetch-video-url").value;
                document.getElementById("cluster_id").value = document.getElementById("clusterid").innerHTML;

              }
            </script>
            </div>
          </div>
        </div>
     
      </div>
     <script>
       function fetchVideo(){
         document.getElementById("video-details").style.opacity = 1;
          let str = String(document.getElementById("fetch-video-url").value);
          if(str.includes("youtu.be")){

            let url1 = str.substr(17);
            console.log(url1)
            let src = document.getElementsByClassName("thumbs").src;
            console.log(src);
            document.getElementsByClassName("thumbs").src = str;
            let s1 = "https://www.youtube.com/embed/".concat(url1);
            src = document.getElementsByClassName("thumbs").src = s1;
            console.log(src);
            let url2 = "https://www.googleapis.com/youtube/v3/videos?key=AIzaSyA6VX3z31ObjBXhbr0JYMwfuftGGqivgaY&part=snippet&id=";
            let url = url2.concat(url1);
            
            fetch(url).then((response) => {
              return response.json();
            }).then((data) => {
              console.log(data)
              console.log(data.items[0].snippet.description);
              document.getElementById("video-title").innerHTML = data.items[0].snippet.title;
              // document.getElementById("video-desc").innerHTML = data.items[0].snippet.description;
              $(".thumbs").attr('src', data.items[0].snippet.thumbnails.high.url)
              console.log(data.items[0].snippet.title);

            })
          }
         else {
              let id = str.substr(18);
              $.getJSON('https://vimeo.com/api/oembed.json?url=https://vimeo.com/' + id, {format: "json"}, function(data) {
                $(".thumbs").attr('src', data.thumbnail_url)
                document.getElementById("video-title").innerHTML = data.title;
              });
          }
        }

     </script>

      <script>

      const popup = document.querySelector('.popup');
      function showPopup() {
        popup.classList.add('open');
        var elems = document.getElementsByClassName('footer');
        for (var i=0;i<elems.length;i+=1){
          elems[i].style.display = 'none';
        }
      }
      function hidePopup() {
        popup.classList.remove('open');
        var elems = document.getElementsByClassName('footer');
        for (var i=0;i<elems.length;i++){
          elems[i].style.display = 'block';
        }
      }

      </script>

<script>
  const popup2 = document.querySelector('.popup2');
  function showPopup2() {
    popup2.classList.add('open');
    var elems = document.getElementsByClassName('footer');
    for (var i=0;i<elems.length;i+=1){
      elems[i].style.display = 'none';
    }
  }
  function hidePopup2() {
    popup2.classList.remove('open');
    var elems = document.getElementsByClassName('footer');
    for (var i=0;i<elems.length;i++){
      elems[i].style.display = 'block';
    }
  }

  </script>
      




  <style>
  
    #search-page{
      display: none;
    }
  
    #profile-page{
      display: none;
    }
  
  </style>
  
  <style>
    #main{
      display: flex;
      align-items: center;
    }
  </style>
  
    <div id="search-page">
      <div id="main">
        <a width="80%" onclick="unMySearch()" class="back_icon" href="#">
          <img style = "width: 40%; "src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
        </a>
        <form class="" action="http://kudos02.pythonanywhere.com/search-video" method="post">
          {% csrf_token %}
          {{form}}
          <input style = "width: 20%; "width="20%" src="../static/anne/Pluudo_Search.png" type="image" name="" >
        </form>
        
      </div>
    </div>
  
    <div id="profile-page">
      <div>
        
      <a href="http://kudos02.pythonanywhere.com/register">LogIn</a>
      <a href="http://kudos02.pythonanywhere.com/login">SignUp</a>
        
      </div>
      <br><br>
      <a onclick="unMyProfile()" class="back_icon" href="#">
        <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
      </a>
    </div>
  
    <div id="main-page">

       <div class="header" style="color:blue;">
        <a class="pluudo_logo" href="http://kudos02.pythonanywhere.com/">
          <img src="../static/anne/logo.png" alt="Pluudo_logo">
        </a>
        
        <a class="show_hide_desc" onclick="hide()">
         <img src="../static/anne/Pluudo_Show_Text.png" alt="videos_description">
       </a>
     </div>

         <div id="desc" style="text-align:center; "> </div>
         
       <br><br>
        <!-- <button onclick="hide()">Desc</button> 
        <a onclick="hide()">
          <img src="../static/anne/Pluudo_Show_Text.png" alt="">
        </a>
        -->

        <div class="">
          {% for i in obj %}
          {% video i.video as my_video %}
            <div class="videos_list">
              <!-- <div class = "video-container">
                 {% video my_video  %} 
                <img src="{{my_video.thumbnail}}" alt="">
              </div> -->
              <div style="width: 100%; height: auto">

                <a href="http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}">
                  <img style="border-radius: 5%; width: 100%; height: auto" src="{{my_video.thumbnail}}" alt="">
                </a>
              </div>
              <span class="video_description">
                vimeo:{{my_video.thumbnail}}
              </span>
              <br> <br> 
            </div> 
          {% endvideo %}  
          {% endfor %}
          </div>
        <div class="footer">
          <div class="footer_dimensions">

            <a onclick="mySearch()" class="pluudo_mid_icons" id="search_icon">
              <img src="../static/anne/Pluudo_Search.png" alt="Pluudo_Search_icon">
            </a>
              {% if request.session.session_username %}
              <a onclick="showPopup2()" class="pluudo_mid_icons">
                <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
              </a>
              {% else %}
              <a onclick="showPopup()" class="pluudo_mid_icons" >
                <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
              </a>
              {% endif %}
              {% if request.session.session_username %}
              <a class="pluudo_mid_icons" href="http://kudos02.pythonanywhere.com/view-profile">
                <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
              </a>
              {% else %}
              <a onclick="showPopup()" class="pluudo_mid_icons" >
                <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
              </a>
              {% endif %}

          </div>
          <div>
            <!-- <a class="back_icon" href="#">
              <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
            </a> -->
            <a class="pluudo_icon" href="#">
              <img src="../static/anne/Pluudo_Home.png" alt="Pluudo_Home">
            </a>
          </div>
        </div>
      </div>  
    </div>
</body>
</html>