{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluudo.com</title>
  <link rel="stylesheet" href="../../static/share.css">
  <link rel="stylesheet" href="../../static/popUp.css">
 
  <link rel="stylesheet" href="../../static/styles.css">
  <link rel="stylesheet" href="../../static/login.css">
</head>
<body onload="myFunction()">

  <!-- {% include "anne/loader.html" %} -->
    <div id="select-save-share-outer">

    <div id="contents">
   

     <div class="popup">
        <div class="blocker" onclick="hidePopup()"></div>
        <div class="contents" style="overflow: scroll;">
          <img style="float: right;" width="40px" src="../static/anne/vcanlogin.png" onclick="hidePopup()" alt="Pluudo_HidePopUp_icon">
          <br> <br>
       
          {% include "anne/email_registration_forms.html" %}
          


          <iframe name="frame_a" width="100%" title="Iframe Example" target="frame_a" frameborder="0">
         
          </iframe>

        </div>
      </div>

      {% include "anne/add_video.html" %}
      
        </div>
     
     <script>
      
     </script>

    
  <style>
  
    #search-page{
      display: none;
    }
  </style>
  
{% include "anne/search_page.html" %}
  
    <div id="main-page">
       
       <div class="header" style="height: 12vh; display:flex; color:blue;">
        
        <div style="visibility: hidden; width: 27%;">
          for enhancement purpose only
        </div>

        <div style="width: 48%;">
            <img style="max-height: 100%; max-width: 100%;" src="../static/anne/logo.png" alt="Pluudo_logo">
        </div>
          
        <div style="width: 25%; padding-top: 3.5vh; padding-bottom: 3.5vh; ">
            <img onclick="hide()"  style="height: 5vh;" src="../static/anne/Pluudo_Show_Text.png" alt="videos_description">
        </div>

        
        </div>

     </div>
         <div id="desc" style="text-align:center; "> </div>
         
       <br><br>
    
        {% include "anne/videos_list.html" %}

        <div class="footer">
          <div class="footer_dimensions">

            <a onclick="mySearch()" class="pluudo_mid_icons" id="search_icon">
              <img src="../static/anne/Pluudo_Search.png" alt="Pluudo_Search_icon">
            </a>
              {% if request.session.session_username %}
              <a onclick="showPopup2()" class="pluudo_mid_icons">
                <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
              </a>
              {% else %}
              <a onclick="showPopup()" class="pluudo_mid_icons" >
                <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
              </a>
              {% endif %}
              {% if request.session.session_username %}
              <a class="pluudo_mid_icons" href="http://kudos02.pythonanywhere.com/view-profile">
                <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
              </a>
              {% else %}
              <a onclick="showPopup()" class="pluudo_mid_icons" >
                <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
              </a>
              {% endif %}

          </div>
          <div>
            <!-- <a class="back_icon" href="#">
              <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
            </a> -->
            <a class="pluudo_icon" href="#">
              <img src="../static/anne/Pluudo_Home.png" alt="Pluudo_Home">
            </a>
          </div>
        </div>

      </div>  

{% include "anne/share_save.html" %}

<script src="../../static/universal.js"></script>
<script src="../../static/share.js"></script>
<script src="../../static/style.js"></script>
<script src="../../static/popUp.js"></script> 
<script src="../../static/fetchVideo.js"></script>
<script src="../../static/back_page_load.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>