<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/popUp.css">
 
  <link rel="stylesheet" href="../../static/styles.css">
  <link rel="stylesheet" href="../../static/login.css">
  <style>
    *{
      text-align: inherit;
    }
       
    #login-page-header{
      display:flex;
      justify-content: space-between;
      margin-bottom: 15vh;
    }
    #login-page-header > div{
      display:flex;
      justify-content: space-between;
      height: 10vh;
    }
    #mainimage > img{
      max-width: 100%;
      max-height: 100%;
    }
    #backbutton > img{
      margin-bottom: auto;
      margin-top: auto;
      max-width: 50%;
      max-height: 50%;
    }
  </style>
</head>
<body>
  <div id="login-page-header">
    <div id="backbutton">
      <img onclick="history.back()" src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
    </div>
    <div id="mainimage">
      <img src="../static/anne/logo.png" alt="Pluudo_logo">
    </div>
    <div>
      <p style="visibility: hidden;">noone</p>
    </div>
  </div>

  <div>
    
        <!-- <img style="float: right;" width="40px" src="../static/anne/vcanlogin.png" onclick="hidePopup()" alt="Pluudo_HidePopUp_icon"> -->
        
        
        {% include "anne/email_registration_forms.html" %}
  </div>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        </script>

   {% include "anne/email_registration.html" %}

<script src="../../static/back_page_load.js"></script>
</body>
</html>