{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluudo.com</title>
  <link rel="stylesheet" href="../../static/add-profile.css">
  <link rel="stylesheet" href="../../static/add-cluster.css">
  <link rel="stylesheet" href="../../static/popUp.css">
  <link rel="stylesheet" href="../../static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
{% include "anne/css_for_profile.html" %}

</head>
<body>
  <div id="select-save-share-outer">

      
      {% include "anne/add_video.html" %}
      


  {% include "anne/search_page.html" %}
      
    </div>
    <div id="deleteVideosPopup">
      <button onclick="popupClose()">close</button>
      <div class="contents">

    </div>
    
    </div>

    <div id="main-page">

{% include "anne/profile_popup_parent.html" %}
      
      <div>
        {% include "anne/user_details.html" %}
      </div>
      

      {% csrf_token %}

    {% include "anne/add_cluster_parent.html" %}
    
      <!-- <form id="addClusterForm">
        {% csrf_token %}
      <input type="text" id="clustername" placeholder="Make a Cluster & Save">
      
      </form> -->
      
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  
    <div>
      <div class="cluster-head">
          <div style="display: flex;">
              <div class="cluster"> 1224 <br> <b>Followers</b> </div>
              <div class="cluster"> 25731 <br> <b>Following</b> </div>
          </div>
          {% if profile %}
          <div><b>{{profile.about}}</b></div>
          {% endif %}
          {% if profile %}
          <p>{{profile.website_name}}</p>
          {% endif %}
          <h1>Clusters</h1>
          <img id="arrange-cluster-btn" style="width: 10%; border-radius: 50%;" src="../../static/anne/122.png" alt="">
      </div>
     
      <div class="cluster-list">

          <div class="cluster" id="add-cluster-show">
              <img class="cluster-img"  src="../../static/anne/newcul.png" alt="">
              <p><b>Create Cluster</b></p>
          </div>
          
          {% for cluster in clusters %}
      
          
          <div class="cluster">
            <a style="z-index: -20000;" href="http://kudos02.pythonanywhere.com/cluster/?cluster_id={{cluster.id}}">
              <img style="z-index: -2;" class="cluster-img" src="{{cluster.video_set.all.0.video_thumbnail}}" alt="{{cluster.id}}">
            </a>
            <p><b>{{cluster.cluster_name}}</b></p>
            <p>{{cluster.video_set.all.count}}</p>
        </div>
          
            
          {% endfor %}  
      </div>
  </div>
 
 

      
       
      {% include "anne/footer.html" %}
      </div>  
    </div>

  </div>

  <script>
    function copyText() {
  
        /* Copy text into clipboard */
        navigator.clipboard.writeText
            (document.getElementById("profile-link").innerHTML);
    }
</script> 

<script>     

  $(document).on('submit', '#addClusterForm', function(e) {
  e.preventDefault();
  var cluster_name = $('#clustername').val();
  $.ajax({
    type: 'POST',
    url: 'http://kudos02.pythonanywhere.com/add-cluster/',
    data: {
      'cluster_name': cluster_name,
      'cluster_hashtags': "#cars #songs",
      csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken]').val(),
    },
    success:function(response) {
        window.location = "http://kudos02.pythonanywhere.com/view-profile/"
      }
  })
})
</script>

<script src="../../static/add-cluster.js"></script>
<script src="../../static/style.js"></script>
<script src="../../static/popUp.js"></script> 
<script src="../../static/fetchVideo.js"></script>

{% include "anne/JS_for_profile.html" %}

<script src="../../static/back_page_load.js"></script>

<script type="text/javascript">
  var isAndroid = navigator.userAgent.toLowerCase().indexOf("android") > -1; //&& ua.indexOf("mobile");
  if(isAndroid) {
      document.write('<meta name="viewport" content="width=device-width,height='+window.innerHeight+', initial-scale=1.0">');
  }
  </script> 

</body>

</html>




