<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../static/style.js"></script>
  <link rel="stylesheet" href="../../static/styles.css">
    <title>Document</title>
</head>
<body>
    
    
    <div style="text-align: center; margin: 5%;">
        <a style="float: left;" href="http://kudos02.pythonanywhere.com/logout"> Logout </a>
       <span style="font-size: 300%;">{{ request.session.session_username }}</span>
       <p id="sess_id" style="display: none;">{{request.session.sess_id}}</p>
      <button style="float: right;" onclick="showPopup()">popup</button>
    </div>

    <div class="footer">
        <div class="footer_dimensions">

          <a onclick="mySearch()" class="pluudo_mid_icons" id="search_icon">
            <img src="../static/anne/Pluudo_Search.png" alt="Pluudo_Search_icon">
          </a>
            <a class="pluudo_mid_icons" href="">
              <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
            </a>
            {% if request.session.session_username %}
            <a class="pluudo_mid_icons" href="http://kudos02.pythonanywhere.com/view-profile">
              <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
            </a>
            {% else %}
            <a onclick="myProfile()" class="pluudo_mid_icons" >
              <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
            </a>
            {% endif %}

        </div>
        <div>
          <!-- <a class="back_icon" href="#">
            <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
          </a> -->
          <a class="pluudo_icon" href="http://kudos02.pythonanywhere.com">
            <img src="../static/anne/Pluudo_Home.png" alt="Pluudo_Home">
          </a>
        </div>
      </div>

      <style>
      .popup { display: none; }
      .popup.open { display: block; }
    
      .blocker {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
        background: rgba(0,0,0,.5);
      }
      .popup .contents {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        height: 55%;
        background: #FFF;
    
        position: fixed;
        bottom: 0px;
      }
      </style>
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="popup">
      <div class="blocker" onclick="hidePopup()"></div>
      <div class="contents" style="overflow: scroll;">
         
        <style>
          input:focus, textarea:focus, select:focus{
            outline: none;
          }
          #profile-options, #add-profile-form, #edit-profile-form, #settings{
            text-align: center;
          }
          #profile-options > div, #add-profile-form > div, #edit-profile-form > div, #settings > div{
            padding: 5%;
          }
        </style>
      
    <div id="profile-header">

      <div id="profile-options">
          <div>
            <span onclick="editProfile()">Edit Profile</span>
          </div>
          
          <div>
            <span onclick="showSettings()">Settings</span>
          </div>
          
          <div>
            <a href="">Copy Profile Link</a>
          </div>
          
          <a onclick="hidePopup()" >close</a>

      </div>
    
      <div id="settings" style="display: none;">
        <h3>Settings</h3>
        <div>
          <span>Email Id</span> <br>
          {{user.email}}
        </div>

        <div>
          Version <br>
           V 2.0
        </div>
        
        
        <div>
          <a href="">Change Password</a>
        </div>
        
        <div>
          <a href="">Privacy & Terms</a>
        </div>
        
        <div>
          <a href="http://kudos02.pythonanywhere.com/logout"> Logout </a>
        </div>
        
        <div>
          <a href="">Deactivate Account</a>
        </div>
        
        
      </div>
    <div>

      <form method="post" id="add-profile-form" action="http://kudos02.pythonanywhere.com/add-profile/">
        {% csrf_token %}
        add-profile
        <div>
          About <br>
        {{profile_form.about}}
        </div>

        <div>
          Website <br>
          {{profile_form.website_name}}
        </div>
        
        <div>
          Country <br>
          {{profile_form.country}}
        </div>
        
        <input type="submit">
      </form>

      <form method="post" id="edit-profile-form" action="http://kudos02.pythonanywhere.com/edit-profile/">
        {% csrf_token %}

        edit-profile
        <div>
          About <br>
        {{profile_form.about}}
        </div>

        <div>
          Website <br>
          {{profile_form.website_name}}
        </div>
        
        <div>
          Country <br>
          {{profile_form.country}}
        </div>
        
        <input type="submit">
      </form>
      
    </div>
<script>
function editProfile(){
  console.log(sess_id)
  console.log(sess_id)
  var sess_id = document.getElementById('sess_id').innerHTML;
  
  console.log(sess_id)
  console.log(sess_id)
  if(sess_id){
    document.getElementById('settings').style.display = "none";
    document.getElementById('add-profile-form').style.display = "none";
    document.getElementById('edit-profile-form').style.display = "block";
    document.getElementById('profile-options').style.display = "none";
    console.log(sess_id);
  }
  else{
    console.log(sess_id);  
    document.getElementById('settings').style.display = "none";      
    document.getElementById('add-profile-form').style.display = "block";
    document.getElementById('profile-options').style.display = "none";
    document.getElementById('profile-options').style.display = "none";

  }
 
}

function showSettings(){

  document.getElementById('settings').style.display = "block";
  document.getElementById('add-profile-form').style.display = "none";
  document.getElementById('edit-profile-form').style.display = "none";
  document.getElementById('profile-options').style.display = "none";
  
}

</script>
      <iframe name="frame_a" width="100%" title="Iframe Example" target="frame_a" frameborder="0">
      
      </iframe>

      </div>
    </div>

    <script>
      const popup = document.querySelector('.popup');
      function showPopup() {
        popup.classList.add('open');
        
  document.getElementById('settings').style.display = "none";
  document.getElementById('edit-profile-form').style.display = "none";
  document.getElementById('add-profile-form').style.display = "none";
  document.getElementById('profile-options').style.display = "block";

        var elems = document.getElementsByClassName('footer');
        for (var i=0;i<elems.length;i+=1){
          elems[i].style.display = 'none';
        }

      }
      function hidePopup() {
        popup.classList.remove('open');
        var elems = document.getElementsByClassName('footer');
        for (var i=0;i<elems.length;i++){
          elems[i].style.display = 'block';
        }
      }

    </script>


</body>
</html>