{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluudo.com</title>
  <link rel="stylesheet" href="../../static/popUp.css">
  <link rel="stylesheet" href="../../static/styles.css">
</head>
<body onload="myFunction()">


      <div class="popup2">

        <div class="blocker2" onclick="hidePopup2()"></div>
        
        <div class="contents2" style="overflow: scroll; overflow-x: hidden;">
          <h2>Add a Video</h2>
          <p>from vimeo, youtube or dailymotion</p> <br>

          <div style="display: flex; margin: 5%">
          
            <input  required id="fetch-video-url" type="text" placeholder="Paste a valid url">
            <input  type="button" onclick="fetchVideo()" name="" id="fetch-video" value="Search">

          </div>

          <!-- <input id="fetch-video-url" type="text" placeholder="please enter url"> <br> <br>
          <input type="button" onclick="fetchVideo()" name="" id="fetch-video" value="Search">
          <div> -->
            <!-- <iframe width="420" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe> -->
            
            <div id="video-details" style="opacity: 0;">
              <br> <br>
              <div>
                <img style="width: 250px; border-radius: 7%;" src="" class="thumbs" alt="fetch-video-thumbnail" width="70%">
              </div>
            
             <div>
              <h4>Title</h4>
              <p style="margin-left: 17%; margin-right: 17%;" id="video-title"></p><br>
              <form action="http://kudos02.pythonanywhere.com/add-video/" method="get">
                {% csrf_token %}
                <input name="video_url" id="video_url" style="display: none;" type="text">
                <input name="video_thumbnail" id="video_thumbnail" style="display: none;" type="text">
                <input name="video_title" id="video_title" style="display: none;" type="text">
                <input name="video_platform_id" id="video_platform_id" style="display: none;" type="text">
          
                <label for="sel1">Select cluster:</label>
                  <select name="cluster_id" class="form-control">
                    {% for cluster in clusters %}

                    <option value="{{cluster.id}}">{{cluster.cluster_name}}</option>

                    {% endfor %}
                    
                  </select>
                <p id="clusterid">{{clusters.id}}</p>
               
                <input type="submit" onclick="addVideo()" value="save">

                 

                </form>
              </div>
          </div> 

            <script>
              function addVideo(){

                document.getElementById("video_url").value = document.getElementById("fetch-video-url").value;
                document.getElementById("cluster_id").value = document.getElementById("clusterid").innerHTML;

              }
            </script>
            </div>
          </div>
        </div>
     
      </div>


    <div id="search-page">
      <div id="main">
        <a style="float: left;" width="80%" onclick="unMySearch()" class="back_icon" href="#">
          <img style = "width: 40%; "src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
        </a>
        <form class="" action="http://kudos02.pythonanywhere.com/search-video" method="post">
          {% csrf_token %}
          {{form}}
          <input style="float: right;" style = "width: 20%; "width="20%" src="../static/anne/Pluudo_Search.png" type="image" name="" >
        </form>
        
      </div>
    </div>
 
    <div id="main-page">

       <div class="header" style="color:blue;">
        <a class="pluudo_logo" href="http://kudos02.pythonanywhere.com/">
          <img src="../static/anne/logo.png" alt="Pluudo_logo">
        </a>
        
        <a class="show_hide_desc" onclick="hide()">
         <img src="../static/anne/Pluudo_Show_Text.png" alt="videos_description">
       </a>
     </div>

        <div>
          <b>{{request.session.desc}}</b>
        </div>

       <br><br>
    
    <div class="">
      {% for i in Videos %}
        <div class="videos_list">
          <div style="width: 100%; height: auto">

            <a href="http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}">
              <img style="border-radius: 5%; width: 100%; height: auto" src="{{i.video_thumbnail}}" alt="">
            </a>
            
          </div>
          <div class="video_description">
          {{i.video_owner}} 
              <br>
          {{i.video_title}}
          </div>
          <br> <br> 
        </div>  
      {% endfor %}
      </div>

        <div class="footer">
          <div class="footer_dimensions">

            <div class="footer_dimensions">

              <a onclick="mySearch()" class="pluudo_mid_icons" id="search_icon">
                <img src="../static/anne/Pluudo_Search.png" alt="Pluudo_Search_icon">
              </a>
               <a onclick="showPopup2()" class="pluudo_mid_icons">
                  <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
                </a>
               
                <a class="pluudo_mid_icons" href="http://kudos02.pythonanywhere.com/view-profile">
                  <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
                </a>
              
            </div>

          </div>
          <div>
            <!-- <a class="back_icon" href="#">
              <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
            </a> -->
            <a class="pluudo_icon" href="#">
              <img src="../static/anne/Pluudo_Home.png" alt="Pluudo_Home">
            </a>
          </div>
        </div>
      </div>  
    </div>
    <script src="../../static/style.js"></script>
    <script src="../../static/popUp.js"></script> 
    <script src="../../static/fetchVideo.js"></script>
</body>
</html>

