{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pluudo.com</title>
  <link rel="stylesheet" href="../../static/popUp.css">
  <link rel="stylesheet" href="../../static/styles.css">
  <style>
    #main{
      padding: 2vh;
      display: flex;
      height: 8vh;
      justify-content: space-between;
    }
    #searchForm input:focus, textarea:focus, select:focus{
      outline: none;
    }
    #searchForm input{
      border: none;
      font-size: large;
    }
    .search-img{
      max-width: 100%;
      max-height: 100%;
    }

  </style>
</head>

<body>

  {% include "anne/add_video.html" %}
  
  <div id="select-save-share-outer">




  {% include "anne/search_page.html" %}


  {% include "anne/edit_cluster_parent_2.html" %}
 
    <div id="main-page">

       <div class="header" style="color:blue;">
        <a class="pluudo_logo" href="http://kudos02.pythonanywhere.com/">
          <img src="../static/anne/logo.png" alt="Pluudo_logo">
        </a>
        
        <a class="show_hide_desc" onclick="hideDesc()">
         <img src="../static/anne/Pluudo_Show_Text.png" alt="videos_description">
       </a>
     </div>

        <div>
          <b>{{request.session.desc}}</b>
        </div>

       <br><br>
    
       <div class="">
        {% for i in Videos %}
          <div class="videos_list" style="margin: 4vh;">
            <div>
    
              <a href="http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}">
                <img style="border-radius: 5%; width: 100%; height: auto" src="{{i.video_thumbnail}}" alt="">
              </a>
              
            </div>
            <div class="video_description" style="text-align: justify; height: 7vh; display: flex; justify-content: space-between; margin: 1vh;">
              <div style="font-size: 2vh;">
                {{i.video_title}} <br>
                {{i.video_owner}}
              </div>
    
              <div>
                <img onclick="descFunc(this)" name="{{i.id}}" style="height: 5vh; " src="../../static/anne/icon6.png" alt="">
              </div>
            </div>
    
          </div>  
        {% endfor %}
        </div>

      {% include "anne/footer.html" %}
            </div>  
          </div>
          
      </div>
      
      {% include "anne/share_save.html" %}
      
      </body>
      <script src="../../static/style.js"></script>
      <script src="../../static/popUp.js"></script> 
      <script src="../../static/edit-cluster.js"></script>
      <script src="../../static/fetchVideo.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="../../static/back_page_load.js"></script>
      <script></script>
      </html>
      
      
