<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #parent{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.5);
    }

    #child{
        padding : 10vh;
        position: fixed;
        top: 10vh;
        bottom: 10vh;
        left: 10vh;
        right: 10vh;
        background: white;
    }
    .sub-child{
        display: flex;
    }
    .sub-sub-child{
        padding: 1vh;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    } 
</style>
<body>
    {% block content %}
    <div id="parent">

        <div id="child">

            <div class="sub-child">
                <div class="sub-sub-child">
                    
                      <a href="http://www.facebook.com/sharer/sharer.php?text=http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}" target="_blank" class="share-popup">
                          <img src="../../static/anne/f.png" alt="">
                     </a>


                </div>
                <div class="sub-sub-child">
                    <a href="http://www.twitter.com/intent/tweet?text=http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}" target="_blank" class="share-popup">
                        <img src="../../static/anne/t.png" alt="">
                    </a>
                </div>
            </div>

            <div class="sub-child">

                <div class="sub-sub-child">
                    <a href="whatsapp://send?text=http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}" data-action="share/whatsapp/share">
                        <img src="../../static/anne/w.png" alt="">
                    </a>
                </div>
                <div class="sub-sub-child">
                    <!-- <a id="url" href="' + http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}} + '" onclick="copyURI(event)">
                        <img src="../../static/anne/c.png" alt="">
                    </a> -->
                    <a class="copy_text"  data-toggle="tooltip" title="Copy to Clipboard" href="http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}">
                        <img src="../../static/anne/c.png" alt="">
                    </a>
                </div>

            </div>
            
             
              
                <script>

                    $('.copy_text').click(function (e) {
                    e.preventDefault();
                    var copyText = $(this).attr('href');
                
                    document.addEventListener('copy', function(e) {
                    e.clipboardData.setData('text/plain', copyText);
                    e.preventDefault();
                    }, true);
                
                    document.execCommand('copy');  
                    console.log('copied text : ', copyText);
                    alert('copied text: ' + copyText); 
                });

                </script>
                
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        </div>

    </div>
    {% endblock %}     
</body>
</html>