{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css" />
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>

  <style>

    div#sticky {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    body {
    text-align: center;
  }
    
  </style>

    <!-- {% video my_video.video as myvideo %}
      <div id="sticky">
        {% if "youtube" in myvideo.url %}
        <iframe src="{{myvideo.url}}&autoplay=1&mute=1" style="position: relative; height: 17em;
        width: 100%;" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
        {% if "youtube" not in  myvideo.url %}
        <iframe src="{{myvideo.url}}?autoplay=1&muted=1" style="position: relative; height: 17em;
        width: 100%;" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
      </div>
        <div style="text-align: center;">
          <a href="{{myvideo.url}}">see on official website</a>
        </div>
      </div>
    {% endvideo %} -->

    <style>
      #player{
        position:sticky;
        top:0;
        width:100%;
        z-index:100;

      }
    </style>

    {% if "vimeo" in my_video.video_url %}
    <div class="plyr__video-embed" id="player">
      <iframe
        src="https://player.vimeo.com/video/76979871?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
        allowfullscreen
        allowtransparency
        allow="autoplay"
      ></iframe>
    </div>
    {% elif "dailymotion" in my_video.video_url %}
      <iframe id="player" frameborder="0" allowfullscreen="true" allow="autoplay" 
      src="https://www.dailymotion.com/embed/video/{{my_video.video_platform_id}}"
      width="100%" height="100%"></iframe>
    {% else %}        
    
  
    <div class="plyr__video-embed" id="player">
      <iframe
        src="https://www.youtube.com/embed/{{my_video.video_platform_id}}?autoplay=1&muted=1&origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        allow="autoplay"
      ></iframe>
    </div>
    
    {% endif %}

  </video>
    <div class="video_description">
          {{my_video.video_owner}}
           <br>
          {{my_video.video_title}}
    </div>

    <h1 style="text-align: center;">Similar videos</h1>
    <div class="">
      {% for i in obj %}
        <div class="videos_list">
          <!-- <div class = "video-container">
             {% video my_video  %} 
            <img src="{{my_video.thumbnail}}" alt="">
          </div> -->
          <div style="width: 100%; height: auto">

            <a href="http://kudos02.pythonanywhere.com/video-player?video_id={{i.id}}">
              <img style="border-radius: 5%; width: 100%; height: auto" src="{{i.video_thumbnail}}" alt="">
            </a>
            
          </div>
          <div class="video_description">
          {{i.video_owner}} 
              <br>
          {{i.video_title}}
          </div>
          <br> <br> 
        </div>  
      {% endfor %}
    </div>
    <div class="footer">
      <div class="footer_dimensions">

        <a onclick="mySearch()" class="pluudo_mid_icons" id="search_icon">
          <img src="../static/anne/Pluudo_Search.png" alt="Pluudo_Search_icon">
        </a>
          <a onclick="showPopup2()" class="pluudo_mid_icons">
            <img src="../static/anne/Pluudo_Add_Video.png" alt="Pluudo_Search_icon">
          </a>
          <a class="pluudo_mid_icons" href="http://kudos02.pythonanywhere.com/view-profile">
            <img src="../static/anne/Pluudo_Profile.png" alt="Pluudo_Profile_icon">
          </a>

      </div>
      <div>
        <a onclick="history.back()" class="back_icon" href="#">
          <img src="../static/anne/BACKBUTTON.png" alt="Pluudo_Home">
        </a>
        <a class="pluudo_icon" href="http://kudos02.pythonanywhere.com/">
          <img src="../static/anne/Pluudo_Home.png" alt="Pluudo_Home">
        </a>
      </div>
    </div>
    <script src="https://cdn.plyr.io/3.6.12/plyr.polyfilled.js"></script>
    <!-- <script src="path/to/plyr.js"></script> -->
   
    <script>
      const player = new Plyr('#player');
    </script>
    </script>
    <!-- <button href="images/car.jpg" id="myButton">
      Here is the Button to be clicked
  </button> -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>

      $(document).ready(function(){
          let btn = document.querySelector('[plyr__control--overlaid]');
          console.log(btn);
          btn.click();
      });

  </script>
</body>
</html>


