
  #search-page{
    display: none;
  }
  
  .site_used_for {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-decoration: #000000;
    align-items: center;
  }

  #desc { 
    text-align: center;
    color: blue;
  }


  .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .video-container { 
      position: relative; 
      padding-bottom: 56.25%; 
      padding-top: 30px; 
      height: 0; 
      overflow: hidden; 
    }

.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.footer_dimensions { 
  object-fit: contain;
  width: 100%;
}

.pluudo_mid_icons > img{ 
  object-fit: contain;
  width: 10vh;
  padding-left: 4%;
  padding-right: 4%;
}

.pluudo_icon > img { 
  width: 10vh;
  padding-right: 4%;
  padding-bottom: 3%;
  float:right;
}
.back_icon > img { 
  width: 10vh;
  padding-left: 4%;
  padding-bottom: 3%;
  float:left;
}









